$colorSelectSite: #F16D7F;
$widthSite: 1140px;
$backBlock: #222222;
$colorText: #000000;
$colorGray: #6F6E6E;
$colorWhite: #FFFFFF;
$widthBurgerMenu: 232px;
$gapGrid: 30px;
$thirdSite: ($widthSite - $gapGrid * 2) / 3;